* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
 
}

h1 {
  background-color: rgb(241, 8, 82);
  display: inline-block;
  border-radius: 2px;
  padding: 0.3rem;
}
nav {
  display: block;
  text-align: center;
  position: fixed;
  width: 100%;
  height: 8vh;
  background-color:black;
}
nav button {
  margin-top: 1rem;
  border-radius: 0.3rem;
  color: rgb(229, 7, 137);
  background-color: white;
  padding: 5px;
  text-transform: uppercase;
  font-weight: bold;
  margin-left: 1rem;
  cursor: pointer;
}
nav button:hover {
  border: 2px solid rgb(177, 9, 37);
  color: rgb(27, 65, 218);
  font-style: italic;
  transform: scale(1.05) rotate(-3deg);
}

.container {
  text-align: center;

}

.card {
  margin-top: 4.5rem;
  border: 1px solid black;
  border-radius: 0.5rem;
  display: inline-block;
  padding: 10px 10px;
  background-color: rgb(198, 248, 232);
 
}
.card:hover {
        font-family: sans-serif;
	background:#FFE0FF;
	box-shadow: inset 0 0 0 5px #0bed4f;
  
}
.name {
  color: rgb(241, 8, 82);
}
.price {
  color: rgb(146, 52, 228);
}

img {
  padding: 1rem 0;
  width: 18rem;
  height: 15rem;
}
.order {
  margin-top: 0.7rem;
  margin-bottom:0.7rem;
  font-size: 11px;
  height: auto;
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: red;
  background: black;
  cursor: pointer;
  border-radius: 10px; 
  
}
.order:hover {
	background:rgb(236, 232, 232);
        color: #0fc631;
	box-shadow: inset 0 0 0 1px #e8348b;
  
}


.footer {
  text-align: center;
  margin: 1rem 0;
}
@media (min-width: 720px) {
  .container{
    margin: 0px 40px;
    background-color: #0bed4f;
  
  }
  
}

@media (max-width: 720px) {
  .container{
    margin: 0px 40px;
    
  }
  
}
@media (max-width: 400px)  {
  .container{
    margin: 0px 15px;
    
  } 
}
